# ==========================================
# AI Career Copilot - Git Ignore
# ==========================================

# ------------------------------------------
# Python
# ------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------------------------
# Virtual Environment
# ------------------------------------------
.venv/
venv/
env/

# ------------------------------------------
# IDE
# ------------------------------------------
.vscode/
.idea/

# ------------------------------------------
# Operating System
# ------------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------------
# Generated AI Data
# ------------------------------------------
data/

# ------------------------------------------
# Personal Documents
# ------------------------------------------
documents/resume/

# ------------------------------------------
# Logs
# ------------------------------------------
*.log

# ------------------------------------------
# Environment Variables
# ------------------------------------------
.env

# ------------------------------------------
# Python Packaging
# ------------------------------------------
build/
dist/
*.egg-info/

# ------------------------------------------
# Jupyter
# ------------------------------------------
.ipynb_checkpoints/